<div class="main-container">
  <div class="steps-container">
    <h2>Steps:</h2>
    <mat-list role="list">
      <mat-list-item role="listitem">1. Create a form group in the registration page</mat-list-item>
      <mat-list-item role="listitem">2. Add first name control (string)</mat-list-item>
      <mat-list-item role="listitem">3. Add last name control (string)</mat-list-item>
      <mat-list-item role="listitem">4. Add age control (number)</mat-list-item>
      <mat-list-item role="listitem">5. Ensure required validation for first name control</mat-list-item>
      <mat-list-item role="listitem">6. Ensure required validation for age control</mat-list-item>
      <mat-list-item role="listitem">7. Ensure postive number validation for age</mat-list-item>
      <mat-list-item role="listitem">8. Ensure non decimal validaton for age </mat-list-item>
      <mat-list-item role="listitem">9. Ensure 'e' is not valid for age</mat-list-item>
      <mat-list-item role="listitem">10. Add submit button</mat-list-item>
      <mat-list-item role="listitem">11. Ensure submit button is disabled unless form is valid</mat-list-item>
      <mat-list-item role="listitem">12. Add reset button</mat-list-item>
    </mat-list>
  </div>
  <router-outlet></router-outlet>
</div>
